/node_modules
/resources
/public
hugo_stats.json
/themes/tailwind-aa-theme-master
typesense-ccwps-pro.md
static/ccwps-items.csv
static/ccwps-items-210825.csv
static/items-211009.csv

# Local Netlify folder
.netlify
static/items-ccwps.csv
