[submodule "themes/tailwind-aa-theme"]
	path = themes/tailwind-aa-theme
	url = https://github.com/team-durumi/tailwind-aa-theme.git
[submodule "themes/hugo-search-fuse-js"]
	path = themes/hugo-search-fuse-js
	url = https://github.com/kaushalmodi/hugo-search-fuse-js
[submodule "themes/hugo-search-fuse-js-aa"]
	path = themes/hugo-search-fuse-js-aa
	url = https://github.com/team-durumi/hugo-search-fuse-js-aa.git
