{{- $url := "https://docs.google.com/spreadsheets/d/e/2PACX-1vQuJXdzcEO0f0WDSTHpAefUZQjErZ3aFnOeiRvCEB3xGYiemdD2klSGnnqHzLSyVA/pub?gid=1073340661&single=true&output=csv" -}}
{{- $csv := getCSV "," $url -}}{{- $keys := index (first 1 $csv) 0 -}}{{- $rows := after 1 $csv -}}{{- $projects := slice -}}
{{- range $row := $rows -}}{{- $project := dict -}}
    {{- range $index, $value := $row -}}{{- $key := index $keys $index -}}
        {{- $project = merge $project ( dict $key $value ) -}}
    {{- end -}}
    {{- $projects = $projects | append $project -}}
{{- end -}}
{{ return $projects }}