<!-- Simple-browse / CSV 아이템 목록을 타입별로 노출합니다.-->
<section class="text-gray-900 bg-white dark:text-gray-100 dark:bg-gray-900 body-font">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">

      <div 
        x-data="{
          openTab: 1,
          activeClasses: 'border-b-2 border-blue-600 text-blue-600',
          inactiveClasses: 'text-gray-600 hover:text-gray-800'
        }" 
        class="p-6"
      >
        <ul class="flex items-start justify-start">
          <li @click="openTab = 1" :class="{ '-mb-px': openTab === 1 }" class="-mb-px mr-1">
            <a :class="openTab === 1 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 px-4 font-semibold" href="#video">video</a>
          </li>
          <li @click="openTab = 2" :class="{ '-mb-px': openTab === 2 }" class="mr-1">
            <a :class="openTab === 2 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 px-4 font-semibold" href="#photo">photo</a>
          </li>
          <li @click="openTab = 3" :class="{ '-mb-px': openTab === 3 }" class="mr-1">
            <a :class="openTab === 3 ? activeClasses : inactiveClasses" class="bg-white inline-block py-2 px-4 font-semibold" href="#document">document</a>
          </li>    
        </ul>
        <div class="w-full pt-4">
          <div x-show="openTab === 1">
            {{ $projects := partial "app/projects-data.html" . }}
            {{- range $projects -}}{{- if eq .media_type "video" -}}
            <div class="pb-4 w-full">
              <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                <div class="p-6 overflow-clip overflow-hidden ...">
                  <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{ .reference_code }}{{ .sources }}</h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 dark:text-gray-100 mb-3">{{ .title }} <!-- {{ .title_en }} --></h1>
                  <p class="leading-relaxed mb-3">{{ .description }}</p>
                  <p class="leading-relaxed mb-3">{{ .created_date }}</p>
                  <p class="leading-relaxed mb-3">{{ .time_courts }}</p>
                  <p class="leading-relaxed mb-3">{{ .creators }}</p>
                  <p class="leading-relaxed mb-3">{{ .venues }}</p>
                  <p class="leading-relaxed mb-3">{{ .sires }}</p>
                  <p class="leading-relaxed mb-3">{{ .file }}</p>
                  <p class="leading-relaxed mb-3">{{ .shotlist }}</p>
                  <p class="leading-relaxed mb-3">{{ .link }}</p>
                  <p class="leading-relaxed mb-3">{{ .components }}</p>

                  <div class="flex items-center flex-wrap ">
                    {{ if .components }}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                    <a href="{{ .components }}" class="text-blue-500 inline-flex items-center md:mb-2 lg:mb-0 overflow-hidden ..." target='_blank'>{{ .components }}
                    </a>{{ end }}
                    <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1">
                     <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z" />
                    </svg>{{ .subjects }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            {{- end -}}
            {{- end -}}
          </div>          
          <div x-show="openTab === 2">
            {{ $projects := partial "app/projects-data.html" . }}
            {{- range $projects -}}{{- if eq .media_type "photo" -}}
            <div class="pb-4 w-full">
              <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">

                <div class="p-6 overflow-clip overflow-hidden ...">
                  <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{ .reference_code }}<br> {{ .sources }}</h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{ .title }} <!-- {{ .title_en }} --></h1>
                  <p class="leading-relaxed mb-3">{{ .description }}</p>
                  <p class="leading-relaxed mb-3">{{ .description_en }}</p>
                  <p class="leading-relaxed mb-3">{{ .components }}</p>

                  <div class="flex items-center flex-wrap ">
                    {{ if .components }}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                    <a href="{{ .components | absURL }}" class="text-blue-500 inline-flex items-center md:mb-2 lg:mb-0 overflow-hidden ..." target='_blank'>{{ .components }}
                    </a>{{ end }}
                    <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1">
                     <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z" />
                    </svg>{{ .subjects }}
                    </span>
                  </div>
                 </div>
                </div>
              </div>
              {{- end -}}
              {{- end -}}
          </div>
          <div x-show="openTab === 3">
            {{ $projects := partial "app/projects-data.html" . }}
            {{- range $projects -}}{{- if eq .media_type "document" -}}
            <div class="pb-4 w-full">
              <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                <div class="p-6 overflow-clip overflow-hidden ...">
                  <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{ .reference_code }}<br> {{ .sources }}</h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{ .title }} <!-- {{ .title_en }} --></h1>
                  <p class="leading-relaxed mb-3">{{ .description }}</p>
                  <p class="leading-relaxed mb-3">{{ .description }}</p>
                  <p class="leading-relaxed mb-3">장소 : {{ .venues }}</p>
                  <div class="flex items-center flex-wrap ">
                    {{ if .components }}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                    <a href="{{ .components | absURL }}" class="text-blue-500 inline-flex items-center md:mb-2 lg:mb-0 overflow-hidden ..." target='_blank'>{{ .components }}
                    </a>{{ end }}
                    <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1">
                     <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z" />
                    </svg>{{ .subjects }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            {{- end -}}
            {{- end -}}
          </div>
      
        </div>
      </div>

    </div>
  </div>
</section>