{{ define "header" }}
  {{ partial "basic/header-search.html" . }}
{{ end }}

{{ define "main" }}

<div class="search" >
  <div class="px-24 md:px-64 pt-12 pb-24 relative mx-auto bg-blue-600 dark:bg-gray-900 text-gray-100">
    <header>
    </header>
    <form action="{{ .Permalink }}" class="mt-2 border-2 border-blue-600 dark:border-blue-00 bg-white h-14 rounded-lg text-gray-900 items-center focus:outline-none">
      <input class="ml-5 w-1/2 md:w-2/3 py-1 rounded-lg text-2xl" id="search-query" name="q"/>
      <button type="submit" class="px-2 py-2">
        <svg class="text-gray-600 h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
          viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
          width="512px" height="512px">
          <path
            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
        </svg>
      </button>   
    </form>
  </div>
  <div class="flex flex-wrap -mb-4 md:mb-0">
    <!-- <div class="w-full md:w-1/4 px-5 py-5 mb-4 md:mb-0 bg-gray-100">
      <div class="bg-white px-5 py-5 rounded-lg">search-aside</div>     
    </div> -->
    <div class="w-full h-full py-5 mb-4 md:mb-0 bg-gray-100 dark:bg-gray-800">
      <div class="px-4 py-4 mb-40 relative mx-auto" id="search-results"></div>
    </div>
  </div>    
</div>

  <template id="search-result-template" >
    <div class="flex flex-wrap -m-4">
      <div class="search_summary w-full p-4">
        <div class="bg-white border-2 p-6 rounded-lg">
          <!-- <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content"> -->
          <!-- <p class="search_iftitle" ></p> -->
          <h2 class="post-title no-text-decoration text-blue-500 text-2xl"><a class="search_link search_title" href=""></a></h2>
            <p><em class="search_snippet"></em></p>
            <p class="post-title no-text-decoration"><a class="search_link search_title" href=""></a></p>
            <p class="search_iftags text-blue-500" ><strong>Tags</strong><em class="search_tags"></em></p>
            <p class="search_ifcategories"><strong>Categories</strong><em class="search_categories"></em></p>
            <p class="search_ifcreators"><strong>Creators</strong><em class="search_creators"></em></p>
            <p class="search_ifvenues"><strong>venues</strong><em class="search_venues"></em></p>
            <p class="search_ifsubjects"><strong>subjects</strong><em class="search_subjects"></em></p>
            <p class="search_ifsources"><strong>sources</strong><em class="search_sources"></em></p>
            <p class="search_ifsummary"><strong>Body Contents</strong><em class="search_summary"></em></p>
            <p class="search_ifdescription"><strong>description</strong><em class="search_description"></em></p>  
        </div>
      </div>
    </div>
  </template>

{{ end }}

{{ define "footer" }}
  <!-- If you don't need IE 11 support you can remove this next script block -->
  <script type="text/javascript">
    // @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPL-v3-or-Later
    if (window.navigator.userAgent.indexOf('Trident/') > 0) {
      let urls = [
        {{ "js/libs/iecompat/promises.min.js" | absURL }},
        {{ "js/libs/iecompat/fetch.min.js" | absURL }},
        {{ "js/libs/iecompat/template.min.js" | absURL }},
        {{ "js/libs/iecompat/remove.min.js" | absURL }}
      ];
      let head = document.getElementsByTagName("head")[0];
      urls.forEach(function(url) {
        let script = document.createElement("script");
        script.src = url;
        head.appendChild(script);
      });
    }
    // @license-end
  </script>
  <!-- These are the two libraries needed for current browsers. -->
  <script src={{ "js/libs/fuse.js/3.2.1/fuse.min.js" | absURL }}></script>
  <script src={{ "js/libs/mark.js/9.0.0/mark.min.js" | absURL }}></script>

  <!-- Below works *only if* this theme component is named "hugo-search-fuse-js"
       AND *if* the themesDir is left at the default value of "themes".  -->
  <script src={{ printf "%s?%s" ("js/search.js" | absURL) }}></script>
{{ end }}
